<!DOCTYPE html>
<html lang="en">
<% if (maxusers) { %>
<script>
    var maxMembers = parseInt(<%= maxusers %>) - 1;
</script>
<% }else{ %>
<script>
    var maxMembers = 5;
</script>
<% } %>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= eventname %> Registration</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/form-elements.css">

    <link rel="stylesheet" href="assets/css/jquery.qtip.css"/>
    <link rel="stylesheet" type="text/css" href="assets/CreativeButtons/css/default.css"/>
    <link rel="stylesheet" type="text/css" href="assets/CreativeButtons/css/component.css"/>
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="assets/css/jquery.modal.css" type="text/css" rel="stylesheet"/>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="assets/CreativeButtons/js/modernizr.custom.js"></script>

    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>

<!-- Top menu -->
<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/"><img class="logo-hack" src="/assets/img/mini-logo.png" alt=""/></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-navbar-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <% if (user) { %>
                    <a href="/logout">Logout</a>
                    <% } %>
                </li>
                <li>
                            <span class="li-social">
							<a href="/team-up"><i class="fa fa-home"></i></a>
                            </span>
                </li>
                <li>
                            <span class="li-social">
								<a href="<%= eventfacebook %>"><i class="fa fa-facebook"></i></a>
							</span>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <% if ( user ) { %>
            <!-- user don't have a team - show 2 options join\create -->
            <h1 style="color:white">Hello <%= user.first_name %>. Welcome to <%= eventname %> matching platform.</h1>

            <div class="row">
                <h2 style="color:white">What do you want to do?</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="openTeam" class="teamBox btn btn-1 btn-1d"
                         onclick="location.href = '/<% if (user.isMember && user.email !== team.admin_email){ %>myTeam<% }else if (user.isMember) { %>updateTeam <% }else{ %>createTeam<% } %>';">
                        <% if (user.isMember && user.email !== team.admin_email){ %>
                        My Team
                        <% }else if (user.isMember) { %>
                        Update Your Team
                        <% }else{ %>
                        Create A Team
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="teamBox btn btn-1 btn-1d" onclick="location.href = '/mingle';">
                        <% if (user.isMember) { %>
                        Other Teams
                        <% }else{ %>
                        Join A Team
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="row" style="color:white">
                <span class="glyphicon glyphicon-info-sign"></span> <span class="how-it-works" onclick="

                        modal({
                        type: 'info',
                        title: 'Information',
                        text: '<p><b>If you have a team</b>- assign a team captain that will log in, create the team and add the members by their e-mails. If your team is looking for additional members, write a short description about you or your idea if you have one.</p><p><b>If you don\'t have a team</b>- log in and see what other teams are there and what are they looking for. To join a team you\'ll need to contact it\'s captain.</p><p>We recommend working in teams of up to 4 programmers and a designer.</p><p>if you have any questions or thoughts feel free to contact us at <%= suppemail %> .</p>',
                        animate:true
                        });
                        " style="cursor:pointer;">How does it work?</span>
            </div>

            <% } else { %>
            <h1><b>Welcome to <%= eventname %> Registration Website</b></h1>

            <h2>Please login with your credentials used in registration</h2>

            <div id="signinRow" class="row">
                <div class="col-lg-12">
                    <form class="form-signin" action="/login" method="post">

                        <label for="username" class="sr-only">Email</label>
                        <input type="text" name="username" id="username" class="form-control" placeholder="Email"
                               required autofocus>

                        <label for="password" class="sr-only">Password</label>
                        <input type="password" name="password" id="password" class="form-control"
                               placeholder="Password">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                        <div class="flash">
                            <%= messages %>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row" style="color:white">

                <a style="color: white" href="/forgot">Forgot your password?</a>
            </div>
            <div class="row" style="color:white">

                <a style="color: white" href="/register">Sign Up</a>
            </div>
            <div class="row" style="color:white">
                <span class="glyphicon glyphicon-info-sign"></span> <span class="how-it-works" onclick="

                        modal({
                        type: 'info',
                        title: 'Information',
                        text: '<p><b>If you have a team</b>- assign a team captain that will log in, create the team and add the members by their e-mails. If your team is looking for additional members, write a short description about you or your idea if you have one.</p><p><b>If you don\'t have a team</b>- log in and see what other teams are there and what are they looking for. To join a team you\'ll need to contact it\'s captain.</p><p>We recommend working in teams of up to 4 programmers and a designer.</p><p>if you have any questions or thoughts feel free to contact us at <%= suppemail %> .</p>',
                        animate:true
                        });
                        " style="cursor:pointer;">How does it work?</span>
            </div>
            <% } %>
        </div>

    </div>

</div>
<!-- Javascript -->
<script src="assets/js/jquery-1.11.3.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.backstretch.min.js"></script>
<script src="assets/js/retina-1.1.0.min.js"></script>
<script src="assets/js/scripts.js"></script>
<script src="assets/js/jquery.qtip.js"></script>
<script type="text/javascript" src="assets/js/jquery.modal.js"></script>
<script src="assets/js/teamManagement.js"></script>


<!--[if lt IE 10]>
<script src="assets/js/placeholder.js"></script>
<![endif]-->

</body>

</html>