<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= eventname %> Registration</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/form-elements.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/jquery.qtip.css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>

<!-- Top menu -->
<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div style="position: absolute;left: 0;right: 0;">
                <h3 class="main-site-head-team"><%= eventname %></h3>
            </div>

            <a href="/"><img class="logo-hack" src="/assets/img/mini-logo.png" alt=""/></a>

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-navbar-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <% if (user && user.isMember){ %>

                    <a href="/updateTeam">My Team</a>
                    <% }else{ %>
                    <span class="li-social">
                                <a href="/createTeam"><i class="fa fa-plus"></i></a>
                            </span>
                    <% } %>
                </li>

                <li>
                            <span class="li-social">
							<a href="/team-up"><i class="fa fa-home"></i></a>
                            </span>
                </li>
                <li>
                            <span class="li-social">
								<a href="<%= eventfacebook %>"><i class="fa fa-facebook"></i></a>

							</span>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <h1 style="color:white;">
                    <% if(teams.length === 0){ %>
                    There are no open teams currently
                    <% }else{ %>
                    Open Teams
                    <% } %>
                </h1>
            </div>
            <% var lim = 0 %>
            <% for (var i = 0; i < teams.length / 3; i++) { %>
            <div class="row">
                <% if (teams.length - (i * 3) < 3){
                    lim = teams.length - (i * 3);
                }else{
                    lim = 3;
                } %>
                <% for (var j = 0; j < lim; j++){ %>
                <div class="col-lg-4">
                    <div class="col-sm-12 form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3><%= teams[j + (i * 3)].team_name %></h3>
                            </div>
                            <div class="form-top-right">
                                <img src="/assets/img/mini-logo.png" alt=""/>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form id="form-team-update" role="form" action="#" class="registration-form">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="form-idea">Idea</label>
                                            <textarea class="myTeam-textarea" readonly
                                                      style=" resize:none;"><%= teams[j + (i * 3)].idea %></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div id="wrap-lookingText" class="form-group">
                                            <label for="form-lookingText">What we are looking for?</label>
                                            <textarea class="myTeam-textarea" readonly
                                                      style="resize:none;"><%= teams[j + (i * 3)].lookingText %></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div id="wrap-lookingText" class="form-group">
                                            <h4><a href="mailto:<%= teams[j + (i * 3)].admin_email %>">Captain's
                                                    email: <%= teams[j + (i * 3)].admin_email %></a></h4>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
            <% } %>
        </div>
    </div>

</div>


<!-- Javascript -->
<script src="assets/js/jquery-1.11.3.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.backstretch.min.js"></script>
<script src="assets/js/retina-1.1.0.min.js"></script>
<script src="assets/js/scripts.js"></script>
<script src="assets/js/jquery.qtip.js"></script>

<!--[if lt IE 10]>
<script src="assets/js/placeholder.js"></script>
<![endif]-->

</body>

</html>